.card{
   display: flex;
   height: 700px;
   width: 500px;
   background-color: #161757;
   border: #64ffca;
   border-style: solid;
   border-color: #64ffca;
   border-width: 5px;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   row-gap: 20px;
   column-gap: 30px;
}

.box_border_1{
   border-style: solid;
   border-color: #64ffca;
   border-width: 4px;
}
.box_border_2{
   border-style: solid;
   border-color: #c52574;
   border-width: 3px;
}

.first_div{
   display: flex;
   max-height: 50px;
   min-width: 450px;
   flex-grow: 1;
   row-gap: 10px;
   column-gap: 30px;
   color: white;
   font-size: 50px;
}

.second_div{
   display: flex;
   max-height: 25px;
   min-width: 420px;
   flex-grow: 1;
   row-gap: 10px;
   column-gap: 30px;
   color: white;
   font-size: 25px;
   text-align: right;
}

.third_div{
   display: flex;
   min-height: 260px;
   justify-content: center;
}

.fourth_div{
   display: flex;
   max-height: 25px;
   min-width: 420px;
   min-height: 260px;
}

.fifth_div{
   display: flex;
   max-height: 25px;
   min-width: 420px;
   min-height: 145px;
   flex-direction: column;
   gap: 10px 10px;
   justify-content: center;
   padding: 10px;
}

.sixth_div{
   display: flex;
   max-height: 25px;
   min-width: 420px;
   min-height: 90px;
   flex-direction: column;
   color: white;
}

.card_image{
   display: flex;
   max-width: 450px;
}